{{- if .Values.mongo.enabled }}

apiVersion: v1
kind: ConfigMap
metadata:
  name: mongo-backups-script
  namespace: {{ .Values.namespace }}
data:
{{ (.Files.Glob "scripts/mongodb.sh").AsConfig | indent 2 }}
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: mongo-snapshotter
  namespace: {{ .Values.mongo.config.namespace }}
spec:
  storageClassName: {{ .Values.mongo.config.storageClass }}
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: {{ .Values.mongo.config.diskSize }}
---
apiVersion: batch/v1
kind: CronJob
metadata:
  name: "mongo-backup"
  namespace: {{ .Values.mongo.config.namespace }}
spec:
  schedule: {{ .Values.mongo.config.schedule }}
  successfulJobsHistoryLimit: 1
  failedJobsHistoryLimit: 1
  jobTemplate:
    spec:
      backoffLimit: 3
      template:
        spec:
          terminationGracePeriodSeconds: 0
          restartPolicy: Never
          volumes:
          - name: scripts
            configMap:
              name: mongo-backups-script
              defaultMode: 0777
          - name: mongo-snapshotter
            persistentVolumeClaim:
              claimName: mongo-snapshotter
          containers:
            - image: mcr.microsoft.com/azure-cli
              name: mongo-snapshotter
              env:
                - name: MONGO_CONNECTION_STRING
                  value: "{{ .Values.mongo.config.connectionString }}"
                - name: AZURE_STORAGE_ACCOUNT
                  value: "{{ .Values.mongo.config.storageAccount }}"
                - name: CONTAINER
                  value: "{{ .Values.mongo.config.container }}"
                - name: BACKUP_PATH
                  value: "{{ .Values.mongo.config.path }}"
                - name: MAX_BACKUPS
                  value: "{{ .Values.mongo.config.maxBackups }}"
                - name: MONGO_USERNAME
                  value: "root"
                - name: MONGO_PASSWORD
                  valueFrom:
                    secretKeyRef:
                      name: "{{ .Values.mongo.config.secret }}"
                      key: mongodb-root-password
                      optional: false
                - name: AZURE_STORAGE_KEY
                  valueFrom:
                    secretKeyRef:
                      name: "{{ .Values.mongo.config.azureSecret }}"
                      key: azure.client.default.key
                      optional: false
              volumeMounts:
                - mountPath: "/mongodump"
                  name: mongo-snapshotter
                - name: scripts
                  mountPath: /scripts
              command:
                - "/scripts/mongodb.sh"
---
apiVersion: batch/v1
kind: Job
metadata:
  name: mongo-backup-0
  namespace: {{ .Values.mongo.config.namespace }}
spec:
  template:
    spec:
      serviceAccountName: {{ .Values.mongo.config.serviceAccount }}
      volumes:
      - name: scripts
        configMap:
          name: mongo-backups-script
          defaultMode: 0777
      - name: mongo-snapshotter
        persistentVolumeClaim:
          claimName: mongo-snapshotter
      containers:
        - image: mcr.microsoft.com/azure-cli
          name: mongo-snapshotter
          env:
            - name: MONGO_CONNECTION_STRING
              value: "{{ .Values.mongo.config.connectionString }}"
            - name: AZURE_STORAGE_ACCOUNT
              value: "{{ .Values.mongo.config.storageAccount }}"
            - name: CONTAINER
              value: "{{ .Values.mongo.config.container }}"
            - name: BACKUP_PATH
              value: "{{ .Values.mongo.config.path }}"
            - name: MAX_BACKUPS
              value: "{{ .Values.mongo.config.maxBackups }}"
            - name: MONGO_USERNAME
              value: "root"
            - name: MONGO_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: "{{ .Values.mongo.config.secret }}"
                  key: mongodb-root-password
                  optional: false
            - name: AZURE_STORAGE_KEY
              valueFrom:
                secretKeyRef:
                  name: "{{ .Values.mongo.config.azureSecret }}"
                  key: azure.client.default.key
                  optional: false
          volumeMounts:
            - mountPath: "/mongodump"
              name: mongo-snapshotter
            - name: scripts
              mountPath: /scripts
          command:
            - "/scripts/mongodb.sh"
            # - "tail"
            # - "-f"
            # - "/dev/null"
      restartPolicy: Never
  backoffLimit: 1


# ---------------------------------------------------------------------------------------------------------------------------------------------
# insert data
# ---------------------------------------------------------------------------------------------------------------------------------------------

---
apiVersion: v1
kind: ConfigMap
metadata:
  name: mongo-data
  namespace: {{ .Values.namespace }}
data:
{{ (.Files.Glob "sql/data.json").AsConfig | indent 2 }}
---
apiVersion: batch/v1
kind: Job
metadata:
  name: mongo-data-0
spec:
  template:
    spec:
      volumes:
      - name: scripts
        configMap:
          name: mongo-data
          defaultMode: 0777
      containers:
      - name: pi
        image: {{ .Values.mongo.config.image }}
        volumeMounts:
        - name: scripts
          mountPath: /scripts
        env:
          - name: MONGO_CONNECTION_STRING
            value: "{{ .Values.mongo.config.connectionString }}"
          - name: AZURE_STORAGE_ACCOUNT
            value: "{{ .Values.mongo.config.storageAccount }}"
          - name: CONTAINER
            value: "{{ .Values.mongo.config.container }}"
          - name: BACKUP_PATH
            value: "{{ .Values.mongo.config.path }}"
          - name: MAX_BACKUPS
            value: "{{ .Values.mongo.config.maxBackups }}"
          - name: MONGO_USERNAME
            value: "root"
          - name: MONGO_PASSWORD
            valueFrom:
              secretKeyRef:
                name: "{{ .Values.mongo.config.secret }}"
                key: mongodb-root-password
                optional: false
          - name: AZURE_STORAGE_KEY
            valueFrom:
              secretKeyRef:
                name: "{{ .Values.mongo.config.azureSecret }}"
                key: azure.client.default.key
                optional: false
        command: ["/bin/sh", "-c", "mongosh --host $(MONGO_CONNECTION_STRING) --port 27017 --username $(MONGO_USERNAME) --password $(MONGO_PASSWORD) --eval \"
        db.getSiblingDB('bd2').names.insertMany([ { 'name': 'Juan' }, { 'name': 'Luisiana' }, {'name': 'Rodrigo'} ]);\""]
      restartPolicy: Never
  backoffLimit: 8

{{- end }}