.container {
  background-color: #89a707;
  height: 15rem;
  padding: 10px;
  color: white;
  margin-bottom: 2rem;
}

.logo {
  height: 1.5rem;
}

.arrow {
  height: 1.5rem;
  float: right;
  margin-right: 1rem;
  margin-top: 1rem;
}

.artist {
  margin: 0;
  margin-top: 1rem;
  margin-left: 8.5rem;
  margin-bottom: 2rem;
  font-size: 60px;
  font-family: "Source Sans Bold";
}

.details {
  margin: 0;
  margin-left: 8.5rem;
}

strong {
  font-family: "Source Sans Bold";
}

h2 {
  font-family: "Source Sans Bold";
  text-align: center;
}

.lyric {
  margin: 0;
  text-align: left;
}

.column {
  width: 300px;
  margin: 0 auto;
}
