.loginForm {
  background-color: white;

  padding: 2rem;
  width: 25rem;
  height: 32rem;

  /* text-align: center; */
  display: flex;
  margin: 6% auto;
  align-items: center;
  /* justify-content: center; */

  flex-direction: column;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);

  border-radius: 10px;
}

.title {
  font-family: "Source Sans Bold";
  font-size: 40px;
  margin: 0;
  margin-top: 10px;
}

.box {
  /* background-color: red; */
  padding: 0%;
  width: 80%;
  display: grid;
}

.subTitle {
  /* align-items: left; */
  font-family: "Source Sans Bold";
  margin-bottom: 10px;
}

.input-container {
  position: relative;
}

.input {
  /* margin: 0.5rem 0; */
  width: 100%;
  font-size: 1em;
  /* margin-bottom: 1rem; */
  padding: 0.7rem;
  /* border: none; */
  border-style: solid;
  border-radius: 5px;
  background-color: white;
  border-color: #c9c9c9;
}

.input:hover {
  background-color: #f2f2f2;
}

.input:focus {
  outline: none;
  background-color: #fff;
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
}

.input::placeholder {
  color: #999;
}

.highlight {
  /* position: absolute; */
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #eea10a;
  transition: width 0.3s ease;
  margin-bottom: 1rem;
}

.input:focus + .highlight {
  width: 100%;
}

/* Optional: Animation on focus */
/* @keyframes input-focus {
  from {
    transform: scale(1);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.1);
  }

  to {
    transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
}

.input:focus {
  animation: input-focus 0.3s ease;
} */

/* input:focus {
  outline: none;
} */

img {
  height: 35px;
  margin-bottom: 5px;
}

.button {
  /* display: inline-flex; */
  align-items: center;
  gap: 0.5rem;
  margin-top: 10px;
  margin-bottom: 30px;
  height: 35px;
  padding: 0.5rem 6rem;
  background-color: #eea10a;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  font-size: medium;
}

.button:hover {
  /* background-color: #e29b0c; */
  color: #ffffff;
  /* border: 1px solid #eea10a; */
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: "»";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -15px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 15px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.link {
  font-family: "Source Sans Bold";
  color: #eea10a;
  border: none;
  background-color: white;
  cursor: pointer;
  padding: 0rem 0rem;

  /* text-decoration: none; */
}

.link:hover {
  text-decoration: underline;
}
