mongodb:
  enabled: true
mariadb:
  enabled: true
postgresql:
  enabled: false
neo4j:
  enabled: false
couchdb:
  enabled: false
elastic:
  version: 8.6.1
  replicas: 1
  name: ic4302
kibana:
  version: 8.6.1
  replicas: 1
  name: ic4302
