* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Source Sans";
  src: url("../fonts/SourceSansPro-Regular.ttf");
}

@font-face {
  font-family: "Source Sans Bold";
  src: url("../fonts/SourceSansPro-Bold.ttf");
}

:root {
  min-height: 100vh;
  font-family: Source Sans, Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  /* background-image: radial-gradient(ellipse at top left, #7f50e4, #4c05d0); */

  /* Background color for the login and create user pages */
  background-color: #f7f7f7;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  /* text-align: center; */
  color: #000000;
}
